<style type="text/css">
body {
    background: url(https://images3.alphacoders.com/772/772671.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} </style>

<form action="/NewMonitor" method="post" >




    <center><body><p></p>
        <h1 style="font-size: 300%;"></h1> <h1 class="text-center"><mark class="bg-success"><strong>---- <ins>Carrot Shop</ins> ----</strong></mark></h1><p></p>
            <table class="table table-dark">
                <tr>
                    <th>Brand</th>
               <td>

                   <select class="form-control" name="brand">
                   <option value="Acer">ACER</option>
                       <option value="ASUS">ASUS</option>
                       <option value="HP">HP</option>
                       <option value="AOC">AOC</option>
                       <option value="BENQ">BENQ</option>
                       <option value="LENOVO">LENOVO</option>


                   </select></td></tr>
                <tr>
                <th><label>Version</label></th>
                    <td>
                        <input type="text" name="version" required>

                </td>
                </tr><tr>
                <th><label>CodeScreen</label></th>
                <td>
                    <input type="text" name="codescreen" required>
                </td>
            </tr><tr>
                <th><label>ColorMonitor</label></th>
                <td>
                        <input type="radio" name="colormonitor" value="Black">Black
                        <input type="radio" name="colormonitor" value="White">White

                    </td></tr>
                <tr>
                <th><label>Weigth</label></th>
                <td>
                    <input type="text" name="weigth" required>
                </td></tr>
                <tr>
                    <th><label>Number of Keys</label></th>
                    <td>
                        <input type="text" name="number" required>
                    </td></tr>
                <tr>
                    <th>Category</th>
                    <td>

                        <select class="form-control" name="category">
                            <option value="Acer">LED</option>
                            <option value="Acer">IPS</option>
                            <option value="Acer">TN</option>
                        </select></td></tr>
                <tr>
                    <th>Connect</th>
                    <td>

                        <select class="form-control" name="connect">
                            <option value="HDMI">HDMI</option>
                            <option value="VGA">VGA</option>

                        </select></td></tr>
                <tr>
                    <th>Mode</th>
                    <td>

                        <select class="form-control" name="mode">
                            <option value="Srandard">Srandard</option>
                            <option value="Text">Text</option>
                            <option value="Internet">Internet</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Movie">Movie</option>
                            <option value="Sport">Sport</option>



                        </select></td></tr>
                <tr>
                    <th>Contact</th>
                    <td>

                        <select class="form-control" name="contact">
                            <option value="Button">Button</option>
                            <option value="TouchScreen">TouchScreen</option>



                        </select></td></tr>
                <tr>
                    <td colspan="2" align="center"><br>
                        <input type="submit" value="Save" class="badge-primary">
                        <input type="reset" value="Cancel" class="badge-danger">

                    </td>
                </tr>


            </table>
    </body></center>
</form>
