@()
<head>
   <style>
        #education {
            background-color: khaki;
            color: black;
            padding: 25px;
            text-align: center;

        }

   </style>
    <p>
    <h1 id="education">Study history</h1>

        <hr>
</head>
<marquee><body>
    <div class="container">
        <center>
             <img src="/assets/images/zero1.jpg"class="rounded"alt="Cinque Terre" width="200px" height="200px"  >
                <img src="/assets/images/Bis.png"class="rounded" alt="Cinque Terre" width="200px" height="200px">
                <img src="/assets/images/zero1.jpg"class="rounded" alt="Cinque Terre" width="200px" height="200px"><p>
        </center><p>

    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>ปีการศึกษา</th>
                <th>สถานศึกษา</th>
                <th>ระดับชั้น</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-warning">
                <td>2546-2547</td>
                <td>โรงเรียนชุมชนบ้านบัวใหญ่</td>
                <td>ชั้นอนุบาล 1-2</td>
            </tr>
            <tr class="table-primary">
                <td>2548-2554</td>
                <td>โรงเรียนชุมชนบ้านบัวใหญ่</td>
                <td>ชั้นประถมศึกษาปีที่ 1-6</td>
            </tr>
            <tr class="table-success">
                <td>2555-2560</td>
                <td>โรงเรียนบัวใหญ่พิทยาคม</td>
                <td>ชั้นมัธยมศึกษาปีที่ 1-6</td>
            </tr>
            <tr class="table-danger">
                <td>2560-ปัจจุบัน</td>
                <td>มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</td>
                <td>ชั้น ป.ตรี</td>
            </tr>

        </tbody>
    </table>
    </div>

</body></marquee>
