@()
<html>
    <p>
       <header>
        <style>
        #goal {
            background-color: chartreuse;
            color: black;
            padding: 25px;
            text-align: center;
        }
        </style>
    </header>
<center> <body bgcolor="#E6E6FA" text="black">

    <h1 id="goal">Future goals</h1>



    <div class="container">
        <marquee><i> <h2><p class="text-left">ความสำเร็จไม่ได้มาแค่ลมปาก แต่มันคือการกระทำต่างหาก</p>

        <img src="/assets/images/tenor.gif"class="rounded" alt="Cinque Terre" width="800px" height="400px"  >

        <i> <h4><p class="text-warning">#</p>
            <p class="text-primary">#</p>
            <p class="text-success">#</p>
            <p class="text-info">#</p>
            <p class="text-warning">#</p>
            <p class="text-danger">#</p>
            <p class="text-primary">#</p>
        </h4>
        </i>



</html>