@()
<style type="text/css">
body {
    background: url(https://images5.alphacoders.com/737/737382.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} </style>


<center><img src="/assets/images/logo-kkc.png"class="rounded" alt="Cinque Terre" width="1100px" height="150px"  ></center>
<div class="container">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <h1> <p class="text-center "> Welcome to My Information</p>
        </h1>
        <center><img src="/assets/images/zero1.jpg"class="rounded" alt="Cinque Terre" width="200px" height="200px"  >
        </center>
        <h1> <p class="text-center">SITTIKON SRIPHAI </p></h1>
        <h1> <p class="text-center">Business Information System </p></h1>
        <h2> <p class="text-center">Faculty : Business Administration and Information Technology</p></h2>
    </div>
</div>