@()

<style>
#interested {
background-color: coral;
color: black;
padding: 25px;
text-align: center;
}
</style>
<p>
<h1 id="interested">Interested</h1>
<center>
<a href="https://www.joox.com/th"target="_blank"><button type="button" class="btn btn-info">ฟังเพลง</button></a>
<a href="https://www.netflix.com/th/"target="_blank"><button type="button" class="btn btn-primary">ดูหนัง</button></a>
<a href="https://www.one31.net/live"target="_blank"><button type="button" class="btn btn-success">ละครออนไลน์</button></a>
<a href="https://www.mangozero.com/7-lovely-pet-price-below-3000-bath/"
target="_blank"><button type="button" class="btn btn-warning">สัตว์เลี้ยงน่ารัก</button></a>
<a href="https://www.ugamezone.com/"target="_blank"><button type="button" class="btn btn-danger">เกมส์ออนไลน์</button></a>
<a href="https://www.siamsport.co.th/home"target="_blank"><button type="button" class="btn btn-primary">กีฬา</button></a>
<a href="https://www.manulife.co.th/7-guide-to-good-personal-hygiene/"target="_blank"><button type="button" class="btn btn-warning">สุขภาพ</button></a>
<a href="https://www.wongnai.com/recipes/tags/Thai-Food-Recipes?gclid=Cj0KCQjw9pDpBRCkARIsAOzRzivJuGlR-Un2Yv5BZvNfMCF345zDpFRwsP9ZlIeusg0bVUsj0olncwUaAtjjEALw_wcB"target="_blank"><button type="button" class="btn btn-success">อาหาร</button></a>
<p>

    <html lang="en">
        <head>



            <title>Wait Wait Wait</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 95%;
                height: 95%;
            }
            </style>
        </head>
        <body>


            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_LTiEXMc5J0?autoplay=1">
                        </iframe>

                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            </div>

        </body>

    </html>
        </center>
