@(r:SubMonitor)

<table class="table table-striped table-info"><p>
    <tr>
        <td >Brand</td>
        <td>@r.getBrand </td>

    </tr>
    <tr>
        <td>Version </td>
        <td>@r.getVersion </td>

    </tr>

    <tr>
        <td>Codescreen</td>
        <td>@r.getCodescreen </td>

    </tr>

    <tr>
        <td>Colormonitor</td>
        <td>@r.getColormonitor</td>

    </tr>

    <tr>
        <td>Weight</td>
        <td>@r.getWeight</td>

    </tr>


    <tr>
        <td >Number</td>
        <td>@r.getNumber </td>

    </tr>

    <tr>
        <td>Category</td>
        <td>@r.getCategory </td>

    </tr>

    <tr>
        <td>Connect</td>
        <td>@r.getConnect </td>

    </tr>

    <tr>
        <td>Contact</td>
        <td>@r.getContact</td>

    </tr>

    <tr>
        <td>Mode</td>
        <td>@r.getMode</td>

    </tr>

</table>
