@()
<html>

    <head>

        <style>
        #myprofile {
            background-color: coral;
            color: black;
            padding: 25px;
            text-align: center;
        }
        </style>

            <link rel="stylesheet"type="text/css"href="/assets/stylsheet/bootstrap413/css/bootstrap.css">
            <script src="/assets/stylsheet/bootstrap413/js/bootstrap.js"></script>

        </head>


        <center>  <a bgcolor="#E6E6FA" text="black">



            <p><h1 id="myprofile">My Profile</h1>


            <img src="/assets/images/zero1.jpg"class="rounded" alt="Cinque Terre" width="200px" height="200px"  ><hr>




    <h3 style="border: 3px solid Tomato;">นาย สิทธิกร ศรีผาย</h3>
    <h3 style="border: 3px solid DodgerBlue;">รหัสนักศึกษา: 60342110039-2</h3>
    <h3 style="border: 3px solid Violet;">สาขาวิชา ระบบสารสนเทศทางคอมพิวเตอร์</h3>
    <h3 style="border: 3px solid Orange;">คณะ บริหารธุรกิจและเทคโนโลยีสารสนเทศ</h3>
    <h3 style="border: 3px solid MediumSeaGreen">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขต ขอนแก่น</h3>
            <a href="https://www.youtube.com/?gl=TH">Youtube</a>




        </body>
        </center>


</html>
