@(content: Html)
<head>
    <link rel="stylesheet"type="text/css"href="/assets/stylsheet/bootstrap413/css/bootstrap.css">
    <script src="/assets/stylsheet/bootstrap413/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    @Header()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">

            </div>

        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2">
            @Menu()
            </div>

            <div class="col-md-10 col-lg-10">
            @content
            </div></div>

        <div class="row">
            <div class="col-md-12">


            </div>
        </div>

    </div>

</body>@Footter()
