@(Monitor:MonitorHelper)<p></p>
<style type="text/css">
body {
    background: url(https://images3.alphacoders.com/708/708544.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} </style>

<ins><h1><mark  class="bg-danger"> Monitor List</mark><mark class="bg-primary"> information </mark></h1></ins>
<p></p>
<table class="table table-dark ">
    <tr>
        <td>Brand</td>
        <td>@Monitor.getBrand</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>@Monitor.getVersion</td>
    </tr>
    <tr>
        <td>CodeScreen</td>
        <td>@Monitor.getCodescreen</td>
    </tr>
    <tr>
        <td>ColorMonitor</td>
        <td>@Monitor.getStrC</td>
    </tr>
    <tr>
        <td>Weigth</td>
        <td>@Monitor.getWeight Kg</td>
    </tr>
    <tr>
        <td>Number of Keys	</td>
        <td>@Monitor.getNumber</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Monitor.getCategory</td>
    </tr>
    <tr>
        <td>Connect</td>
        <td>@Monitor.getConnect</td>
    </tr>
    <tr>
        <td>Mode</td>
        <td>@Monitor.getMode</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>@Monitor.getContact</td>
    </tr>

</table>