@()
<html>

    <head>My profile <br><br>
        <title> Mr.Sittikon</title>

    </head >

    <body background="assets/images/ADV1.jpg" text="black" align="center">


        <img src="/assets/images/zero.jpg" width="200px" height="200px" align="center">

        <p><a href="https://www.facebook.com/profile.php?id=100006445843354">Facebook</a></p>

        <p><img src="/assets/images/tenor.gif" alt="Smiley face" width="150" height="100"></p>

        <nav  class="navbar navbar-expand-sm bg-success navbar-dark">
            <ul class="navbar-nav">
                <h1><div class="fas fa-address-card">
                </div>
                </h1>
                <li class="nav-item active">
                    <a class="nav-link" href="/T1">Apex link</a>
                </li>




                <li class="nav-item active">
                    <a class="nav-link" href="/MyProfile"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/education"></a>

            </ul>
        </nav>


    </body>

<h1> Mr.Sittikon   Sriphai</h1>
    <h2> ID:60342110189-0</h2>
    <h3> CLASS:BIS3N2</h3>
    <h4> Currently studying at rajamangala University of technology ISAN Khon Kaen campus</h4>
    <h5> </h5>
    <table border="3"   bgcolor="yellow" align="center" ><br>
        <tr>
            <th>Address </th>
            <th>Tel</th>

        </tr>
        <tr>
            <td>99/10 Phachasamoshon15 Khonkean 40000</td>
            <td>0961172786</td>
        </tr>
    </table><br>



</html>

